.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading{
  font-size: 25px;
  width: 80vw;
  color: white;
}

.img1{
  width: 200px;
  height: 300px;
}

.img-card-container{
  color: white;
  display: flex;
  align-items: center;
  color: black;
}

.form-container{
  background-color: white;
  width: 500px;
  padding: 10px;
}

.button{
  background-color: red;
  color: white;
  border-radius: 20px;
  height: 30px;
  border-width: 0px;
}

.span-el{
  text-decoration: line-through;
}

.span-free{
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-container{
  display: flex;
  background-color: white;
  height: 100vh;
}

.side-container{
  background-image: url("https://res.cloudinary.com/dqjixulez/image/upload/v1699448066/bg-sidebar-desktop_d4gwbi.svg");
  background-size: cover;
  width: 20vw;
  margin: 10px;
}

.main-container{
  display: flex;
  justify-content: center;
  width: 80vw;
}

.heading{
  font-size: 15px;
}

.li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  margin-right: 10px;
  background-color: transparent;
  color: white;
  border-width: 1px;
  border-radius: 50px;
  border-color: white;
}

.buttonapp{
  background-color: white;
  color: black;
}